header {
    background: linear-gradient(45deg,#44538c 30%,#7671cf74); 
    /* height:30rem; */
    /*background-image: url('../img/твоя_картинка.jpg');*/
    height: 92.4vh; /*здесь регулируется высота*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.es-header-title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.es-text-header {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay {
    min-height: 100%;
    height: 100%;
    min-width: 100%;
    background: rgba(0,0,0,0,50)
}

.z-button {
    display: flex;
    align-items: center;
}

/* мобильная версия */
@media screen and (max-width: 600px) {
    header {
        height: 60rem;
    }
}
