body {
    background: linear-gradient(45deg,hsl(228, 31%, 40%) 30%,#727581);
}

header {
    /* background: linear-gradient(45deg,hsl(228, 31%, 40%) 30%,#727581); */
    /* height:30rem; */
    /*background-image: url('../img/твоя_картинка.jpg');*/
    /*здесь регулируется высота*/
    /* height: 45vh;  */
    /* background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    width: 100%;
    box-sizing: content-box;  */
}    

.es-header-title {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.es-text-header {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay {
    /* display: inline-block; */
    box-sizing: content-box;
    margin-top: 2rem;
    min-height: 60%;
    min-width: 50%;
    padding-top: 5rem;
    padding: 2rem;
    background: rgba(255, 255, 255, 0.20);
    border-radius: 15px;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.z-button {
    /* display: flex;
    align-items: center; */

    background-color: rgb(187, 220, 233);
}

/* мобильная версия */
@media screen and (maxrgb(119, 112, 103): 600px) {
    header {
        height: 50rem;
    }

    .es-header-title {
        align-items: center;
        justify-content: center;
    }
    
    .overlay {
        margin-top: 3rem;
        margin-left: 0rem;
        padding-bottom: 4rem;
    }
}
