{% extends 'base.html' %}
{% load static %}

{% block title %}Авторизация - desing-website-XD{% endblock %}

{% block css %}
    <link rel="stylesheet" href={% static 'css/auth.css' %}></link>
{% endblock %}

{% block content %}
    {% csrf_token %}
    <main class="auth">
        <label for="email" class="form-label">Электронная почта</label>
        <input type="email" class="form-control" id="email" placeholder="Введите почту">
        <label for="password" class="form-label" id="password-label">Пароль</label>
        <input type="password" class="form-control" id="password" placeholder="Ведите пароль">
        <input type="button" class="btn btn-dark" id="auth-buutton" value="Войти">
        <div class="reg-container">
            <a href="{% url 'reg' %}" class="reg-link">Зарегистрироваться</a>
        </div>
    </main>
{% endblock %}

{% block js %}
    <script type="text/javascript" arc={% static 'js/auth.js' %}></script>
{% endblock %}

