{% extends 'base.html' %}
{% load static %}

{% block title %}desing-website-XD{% endblock %}

{% block css %}
    <link rel="stylesheet" href={% static 'css/style.css' %}>
    <link rel="stylesheet" href={% static 'css/header.css' %}>
    <link rel="stylesheet" href={% static 'css/interesting.css' %}>
{% endblock %}

{% block content %}
     <!-- Заголовок сайта -->
    <header>
        <div class="container text-black roboto-italic overlay">
            <h1 class="es-header-title">Работаем ежедневно с 9-21</h1>
            <h2 class="es-header-title">Laout-art</h2>
            <h3 class="es-header-title">ул. Ленина 101</h3>
            <p class="es-text-header text-center">Примимся за любой заказ</p>
            <div class="row z-button">
                <div class="col-5"></div>
                </div>
            </div>
        </div>
    </header>    

    <!-- Всплывающее окно -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Задать вопрос</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
        </div>
        <div class="modal-body">
            <form>
            <div class="mb-3">
                <label for="recipient-name" class="col-form-label">Отправитель:</label>
                <input type="text" class="form-control" id="recipient-name">
            </div>
            <div class="mb-3">
                <label for="message-text" class="col-form-label">Сообщение:</label>
                <textarea class="form-control" id="message-text"></textarea>
            </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
            <button type="button" class="btn btn-primary">Отправить сообщение</button>
        </div>
        </div>
    </div>
    </div>

   <!-- Блок интересное -->
   <section class="es-interesting">
        <div class="container">
            <div class="row">
                <div class="col d-flex justify-content-center">
                    <h1 class="es-interesting-title">Преимущество</h1>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-4">
                    <div class="d-flex">
                        <div class="es-interesting-icon">
                            <i class="fa-solid fa-seedling"></i>
                        </div>
                        <div class="es-interesting-text">
                            <h3>Отзывы</h3>
                            <p>самые лучшие отзывы из всех компаний</p>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="d-flex">
                        <div class="es-interesting-icon">
                            <i class="fa-solid fa-briefcase"></i>
                        </div>
                        <div class="es-interesting-text">
                            <h3>Портфолио</h3>
                            <p>самые выдающиеся наши работы</p>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="d-flex">
                        <div class="es-interesting-icon">
                            <i class="fa-solid fa-compass-drafting"></i>
                        </div>
                        <div class="es-interesting-text">
                            <h3>выбрать дизайн</h3>
                            <p>всегда подберем нужное</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-4">
                    <div class="d-flex">
                        <div class="es-interesting-icon">
                            <i class="fa-regular fa-handshake"></i>
                        </div>
                        <div class="es-interesting-text">
                            <h3>Сотрудничество</h3>
                            <p>всегда рады воссоединить наши работы</p>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="d-flex">
                        <div class="es-interesting-icon">
                            <i class="fa-solid fa-align-justify"></i>
                        </div>
                        <div class="es-interesting-text">
                            <h3>Модельный ряд</h3>
                            <p>подбирайте свое</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   </section> 
   
   
	<!-- Блок обратной связи -->
	<section class="feedback">
		<div class="container">
			<div class="col-sm-12 d-flex justify-content-center">
				<div class="title">
					<h2 class="title-main">Форма обратной связи</h2>
					<p class="title-text">Оставьте свой адрес почты и мы с вами свяжемся</p>
					<div class="feedback-form">
						<input type="email" class="form-control" name="email" id="email" placeholder="Введите адрес почты">
						<button id="submit-button" class="form-control btn btn-dark">Отправить</button>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}              

